@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #FEFEFE;
  --foreground: #171717;

  /* 패딩/마진 전역 변수 */
  --layout-padding-top: 95px; /* 상단 padding */
  --layout-padding-bottom: 50px; /* 하단 padding */
  --header-padding-top: 40px; /* 헤더네비바 상단 padding */
  --bottomnavbar-padding: 92px; /* 바텀네비바 padding */
  --appbar-padding-top: 30px; /* 앱바 상단 padding */
  --appbar-padding-bottom: 30px; /* 앱바 하단 padding */

}

@theme {
  --background: #FEFEFE;
  --font-sans: Pretendard, system-ui, sans-serif;
  --color-main-100: #35C284;
  --color-main-40: #A8E4CA;
  --color-main-15: #E1F6ED;
  --color-main-5: #F4FBF8;
  --color-sub-100: #FACC15;
  --color-sub-15: #FDF4D1;
  --color-sub-5: #FEFBF2;
  --color-sub2-100: #58C1FF;
  --color-sub2-40: #B5E3FF;
  --color-sub2-15: #E3F5FF;
  --color-sub2-5: #F6FCFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 기본 텍스트 색 및 폰트 변경 */
@layer base {
  body {
    @apply text-neutral-900;
    font-family: 'Pretendard', sans-serif;
  }
}

@layer utilities {

  .layout-padding-t {
    padding-top: var(--layout-padding-top);
  }

  .layout-padding-b {
    padding-bottom: var(--layout-padding-bottom);
  }

  .layout-padding-tb {
    padding-top: var(--layout-padding-top);
    padding-bottom: var(--layout-padding-bottom);
  }

  .header-padding-t {
    padding-top: var(--header-padding-top);
  }

  /* 바텀 네비바만 있는 경우(홈, 축제, 상점 등) */
  .bottomnavbar-padding-tb {
    padding-top: var(--appbar-padding-top);
    padding-bottom: var(--bottomnavbar-padding);
  }

  /* 헤더 네비바만 있는 경우(로그인, 회원가입 등) */
  .header-padding-tb {
    padding-top: var(--layout-padding-top);
    padding-bottom: var(--appbar-padding-bottom);
  }

   /* 네비바 없이 하단 스크롤 있는 경우(로그인, 회원가입 등) */
  .appbar-padding-t {
    padding-top: var(--appbar-padding-top);
  }

  /* 스크롤 영역 하단 패딩 */
  .appbar-padding-b {
    padding-bottom: var(--appbar-padding-bottom);
  }

  /* 헤더, 바텀 네비바 모두 없는 경우 (축제 검색, 상세페이지 등) */
  .appbar-padding-tb {
    padding-top: var(--appbar-padding-top);
    padding-bottom: var(--appbar-padding-bottom);
  }

  .btn-fixed-b {
    @apply bottom-8;
  }
}

/*mingcute 아이콘 색 오버라이딩*/
[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
}

/* 숨기기용 유틸 클래스 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* input 입력값이 있을 때 브라우저가 자동 적용하는 파란 배경 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #f5f5f5 inset !important; /* #f5f5f5 : bg-neutral-100 */
  box-shadow: 0 0 0 1000px #f5f5f5 inset !important;
  caret-color: #171717; /* #171717 : bg-neutral-900 */
}
